services:
  postgres:
    container_name: nest-test-task-postgres
    image: postgres:18
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
    ports:
      - '5434:5432'
    volumes:
      - postgres-data:/var/lib/postgresql
    networks:
      - app-network

volumes:
  postgres-data:

networks:
  app-network:
